
<div ng-controller='MainCtrl'>
  <!-- (((((((((((((((((Modals))))))))))))))))) -->
  <div class='modal fade' id='myModal1' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss="modal" aria-hidden='true'>&times;
          </button>
          <h4 class='modal-title' id='myModalLabel'>
          Modal title
          </h4>
        </div>
        <div class='modal-body'>
          <p>One fine body&hellip;</p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-default' data-dismiss="modal">Close</button>
          <button type='button' class='btn btn-primary'>Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div id='topParent'>
    <!-- ((((((((((NAV)))))))))) -->
    <div class='row margin-bottom-20' >
        <header class='navbar navbar navbar-static-top margin-bottom-null' role='navigation' >
      
          <div class='container'>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class='navbar-header'>
              <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#project-abc-navbar-collapse-1'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>        
              </button>
              <span class='navbar-brand'>
                <h1>Project 
                  <small class='btn-link' data-toggle='collapse' data-parent='#topParent' data-target='#collapse1'>
                      free selling site
                      <span class='caret caret-border-big'></span>
                  </small>
                </h1>
              </span>
            </div>


     
            <!-- Collect the nav links, forms, and other content for toggling -->
          

            <nav class='collapse navbar-collapse' id='project-abc-navbar-collapse-1'>
              <div class='navbar-right col-xs-3 padding-right-null'>
                <div class='navbar-right'>
                  <button type='button' class='btn btn-lg navbar-btn btn-success' data-toggle='modal' data-parent='#topParent' data-target='#myModal1'>
                    <b>Submit an Add.</b>
                  </button>
                </div>
              </div>
            </nav>

          </div>
        </header>  
        <div id='collapse1' class='container   panel-collapse collapse '>
          <div class='border-light-gray' >
            <div class='panel-body background-color-white'>
              <div class='row padding-left-15'>
                <form class='form-horizontal' role='form'>
                          <div class='form-group form-group-sm'>  
                            <label class='sr-only col-sm-3' for='input-search-add'>Search location</label>
                            <div class='col-sm-9'>
                              <input type='text' class='form-control ' id='input-search-add' placeholder='Search Location'>
                            </div>
                          </div>                                  
                </form>
              </div>
              <div class='row'>
                <div class='col-md-2 small'>
                  <ul class='list-group' style='list-style:none;'>
                    <li><a href="">Delhi</a></li>
                    <li><a href="">Ludhiana</a></li>
                    <li><a href="">Moga</a></li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    </div>
    <div ng-view></div>
  </div>
</div>