<div class='row' ng-controller='ProductsDetailCtrl'>
	<div class='container'>
		<div class='col-md-9' style='border:2px solid green;'>
			<div class='row'>
				<div class=''>
					<div class='panel panel-default margin-bottom-20'>
						<div class='panel-heading'>
							<h4>Head: This is my First Heading of Product</h4>
						</div>
						<div class='panel-body'>
							<div class='row margin-left-null margin-right-null margin-bottom-20'>
								<div class='col-md-2' style='border:1px solid green;'>
									<div class=''>
										<div class='mini-image-panel'></div>
										<div class='mini-image-panel'></div>
										<div class='mini-image-panel'></div>
										<div class='mini-image-panel'></div>
									</div>
								</div>
								<div class='col-md-7' style='border:1px solid pink;'>
									<div class=''>
										<div class='large-image-panel'></div>
									</div>
								</div>
								<div class='col-md-3' style='border:1px solid yellow;'>
									<span class='price-tag'>Price: 12000 rs.</span>
									<div class='border-top-light-gray'>
										<h6>Locality:</h6>
										<h6><b>Moga</b></h6>
									</div>
									<div class='border-top-light-gray'>
										<h6>Condition:</h6>
										<h6><b>Second Hand</b></h6>
									</div>
									<div class='border-top-light-gray'>
										<h5>Brand:</h5>
										<h5><b>Nokia.</b></h5>
									</div>
								</div>
							</div>
							<div class='row margin-left-null margin-right-null margin-top-15'>
								<div class='border-bottom-light-gray'>
									<h5><b>Ad Discription:</b></h5>
								</div>
								<div class='font-size-12'>
									<p class='font-color-gray'>thiasfdas dafs asfasdf asdfasfasf assfasf asdfsfasdf adsfasfas sdf asfas af asfas fsdf sfas fa sfas fasf sfas asf asf safa fa </p>
									<div class='col-md-4' style='border:1px solid green'>
										<!-- <div class='col-md-6'>
											<span class='font-color-gray'>brand:</span>	
										</div>
										<div class='col-md-6'>
											<span><b>Nokia</b></span>
										</div> -->
										<table class='table'>
											<thead>
												<th>Further Details:</th>
												<th></th>
											</thead>
											<tbody>
												<tr>
													<td><b>Brand:</td>
													<td>Nokia</td>
												</tr>
												<tr>
													<td><b>Model:</b></td>
													<td>Lumia 1025</td>
												</tr>
											</tbody>							
										</table>
									</div>
								</div>
							</div>							
						</div>
					</div>
					<div class='panel panel-default margin-bottom-20'>
						<div class='panel-heading'>
							<strong>logo commentes(233)</strong>
						</div>
						<div class='panel-body'>
							<div class='media margin-bottom-20'>
								<div class='col-md-10'>
									<form role='form'>
										<a href="#" class='pull-left margin-right-15'>
											<img src='' alt='' class='media-object' >
											<span class='glyphicon glyphicon-user product-list-glyphicon'></span>

										</a>
										<div class='media-body'>
											<div>
												<div class='row margin-left-null margin-right-null'>
													<textarea rows='3' class='form-control'></textarea>
												</div>
												<div class='row margin-top-10'>
													<div class='col-md-6 margin-left-null'>
														<div class='from-group'>
															<div class='col-md-12 input-group'>
																<div class='input-group-addon'>Number.</div>
																<input type='number' class='form-control input-sm' placeholder='Number'>
															</div>				
														</div>
													</div>
													<div class='col-md-6'>
														<button type='submit' class='btn btn-primary btn-sm pull-right padding-left-20 padding-right-20'>Submit</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<ul class='media-list'>
								<li class='media'>
									<div class='col-md-1 padding-right-null'>
										<a href="">
											<img src="" alt='' class='media-object'>
											<span class='glyphicon glyphicon-user product-list-glyphicon'></span>
										</a>
									</div>
										
									<div class='col-md-10 padding-left-null'>
										<div class='media-body'>
											<div class='col-md-9'>
												<h5><b>Anonymous</b></h5>
												<p>asfasf asfasf asfdasdf asfas a sdfas</p>
											</div>
										</div>
									</div>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='col-md-3' style='border:2px solid pink;'></div>
	</div>
</div>