<div class='row' ng-controller='ProductsDetailCtrl'>
	<div class='container'>
		<div class='row margin-bottom-10'>
			<div class='col-md-2'>
				<button class='btn btn-primary'>
					<span class='glyphicon glyphicon-chevron-left'></span>
					Back to Result
				</button>				
			</div>
			<div class='col-md-7'>

			</div>
			<div class='pull-right col-md-3 '>
				<button class='btn btn-primary'>
					<span class='glyphicon glyphicon-step-backward'></span>
					<span class='label'>Previous Ad</span>
				</button>
				<button class='btn btn-primary  pull-right'>
					<span class='label'>Next Ad</span>
					<span class='glyphicon glyphicon-step-forward'></span>
				</button>
			</div>
		</div>
		<div class='row col-md-9 '>
			<ol class="breadcrumb">
			  <li><a href="#">Mobile</a></li>
			  <li><a href="#">Products</a></li>
			  <li class="active">Add</li>
			</ol>
		</div>
		<div>
			<div class='col-md-9' style='border:2px solid green;'>
				<div class='row'>
					<div class=''>
						<div class='panel panel-default margin-bottom-20'>
							<div class='panel-heading'>
								<h4>{{phoneDetail.heading}}</h4>
							</div>
							<div class='panel-body'>
								<div class='row margin-left-null margin-right-null margin-bottom-20'>
									<div class='col-md-2' style='border:1px solid green;'>
										<div class=''>
											<div class='mini-image-panel'></div>
											<div class='mini-image-panel'></div>
											<div class='mini-image-panel'></div>
											<div class='mini-image-panel'></div>
										</div>
									</div>
									<div class='col-md-7' style='border:1px solid pink;'>
										<div class=''>
											<div class='large-image-panel'></div>
										</div>
									</div>
									<div class='col-md-3' style='border:1px solid yellow;'>
										<span class='price-tag'>Price: {{phoneDetail.price}} rs.</span>
										<div class='border-top-light-gray'>
											<h6>Locality:</h6>
											<h6><b>{{phoneDetail.locality}}</b></h6>
										</div>
										<div class='border-top-light-gray'>
											<h6>Condition:</h6>
											<h6><b>{{phoneDetail.condition}}</b></h6>
										</div>
										<div class='border-top-light-gray'>
											<h5>Brand:</h5>
											<h5><b>{{phoneDetail.brand}}</b></h5>
										</div>
									</div>
								</div>
								<div class='row margin-left-null margin-right-null margin-top-15'>
									<div class='border-bottom-light-gray'>
										<h5><b>Ad Discription:</b></h5>
									</div>
									<div class='font-size-12'>
										<p class='font-color-gray'>
											{{phoneDetail.addDiscription}}
										</p>
										<div class='col-md-4' style='border:1px solid green'>
											<!-- <div class='col-md-6'>
												<span class='font-color-gray'>brand:</span>	
											</div>
											<div class='col-md-6'>
												<span><b>Nokia</b></span>
											</div> -->
											<table class='table'>
												<thead>
													<th>Further Details:</th>
													<th></th>
												</thead>
												<tbody>
													<tr>
														<td><b>Brand:</b></td>
														<td>{{phoneDetail.furtherDetail.brand}}</td>
													</tr>
													<tr>
														<td><b>Model:</b></td>
														<td>{{phoneDetail.furtherDetail.model}}</td>
													</tr>
												</tbody>							
											</table>
										</div>
									</div>
								</div>							
							</div>
						</div>
						<div class='panel panel-default margin-bottom-20'>
							<div class='panel-heading'>
								<strong>
									logo commentes(233)
								</strong>
							</div>
							<div class='panel-body'>
								<div class='media margin-bottom-30'>
									<div class='col-md-10'>
										<form role='form'>
											<a href="#" class='pull-left margin-right-15'>
												<img src='' alt='' class='media-object' >
												<span class='glyphicon glyphicon-user product-list-glyphicon'>
												</span>
											</a>
											<div class='media-body'>
												<div>
													<div class='row margin-left-null margin-right-null'>
														<textarea rows='3' class='form-control'>
														</textarea>
													</div>
													<div class='row margin-top-10'>
														<div class='col-md-6 margin-left-null'>
															<div class='from-group'>
																<div class='col-md-12 input-group'>
																	<div class='input-group-addon'>Number.</div>
																	<input type='number' class='form-control input-sm' placeholder='Number'>
																</div>				
															</div>
														</div>
														<div class='col-md-6'>
															<button type='submit' class='btn btn-primary btn-sm pull-right padding-left-20 padding-right-20'>
																Submit
															</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								<ul class='media-list'>
									<li class='media'>
										<div class='col-md-1 padding-right-null'>
											<a href="">
												<img src="" alt='' class='media-object'>
												<span class='glyphicon glyphicon-user product-list-glyphicon'></span>
											</a>
										</div>
											
										<div class='col-md-10 padding-left-null'>
											<div class='media-body'>
												<div class='col-md-11'>
													<div class='margin-bottom-10'>
														<h5 class='margin-bottom-null margin-top-5'>
															<b>Anonymous</b>
														</h5>
														<p class='margin-bottom-5'>
															asfasf asfasf asfdasdf asfas a sdfas
														</p>
														<span class='product-detail-reply'>
															<b>Reply</b>
															<span class='glyphicon glyphicon-arrow-up product-detail-reply-arrow'></span>
															<span class='glyphicon glyphicon-arrow-down product-detail-reply-arrow'></span>
														</span>
													</div>
														
													<ul class='media-list'>
														<li class='media'>
															<div class='col-md-1 padding-right-null'>
																<a href="">
																	<img src="" alt='' class='media-object'>
																	<span class='glyphicon glyphicon-user product-list-glyphicon-comment'></span>
																</a>
															</div>
															<div class='media-body'>
																<div class='col-md-9'>
																	<div >
																		<h5 class='margin-bottom-null margin-top-5'><b>Anonymous</b></h5>
																		<p class='margin-bottom-5'>asfasf asfasf asfdasdf asfas a sdfas</p>
																	</div>
																		
																	<span class='product-detail-reply'>
																		<b>Reply</b>
																		<span class='glyphicon glyphicon-arrow-up product-detail-reply-arrow'></span>
																		<span class='glyphicon glyphicon-arrow-down product-detail-reply-arrow'></span>
																	</span>
																</div>		
															</div>
														</li>
													</ul>
												</div>
													
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-3' style='border:2px solid pink;'>
				<div class='add-details-name'>
					<button type='button' class='btn btn-danger col-md-12 margin-bottom-15 pull-left' >
						<h4 class='pull-left'>{{phoneDetail.sellerName}}</h4>
						<h4 class='pull-left'>+91-{{phoneDetail.sellerNumber}}</h4>
						<h4><span class='glyphicon glyphicon-user pull-right'></span></h4>
					</button>
					<button type='button' class='btn btn-danger col-md-12'>
						<h4 class='pull-left'>
							Punjab
						</h4>
						<h4><span class='glyphicon glyphicon-map-marker pull-right'></span></h4>
					</button>	
				</div>

				<div class=''></div>
			</div>
		</div>
			
	</div>
</div>