              <div id='collapse2' class='panel-collapse collapse border-bottom-light-gray margin-bottom-10'>
                <div class='panel-body'>
                  <div class='row padding-left-15 padding-right-15'>
                    <form class='form-horizontal' role='form'>
                              <div class='form-group form-group-sm'>  
                                <div class='col-sm-9'>
                                  <input type='text' class='form-control ' id='input-search-add' placeholder='Search Location'>
                                </div>
                                <label class='sr-only ' for='input-search-add'>Search location</label>
                              </div>                                  
                    </form>
                    <div>Popular Cities:</div>
                  </div>
                  <div class='row margin-top-10'>
                    <div class='col-md-12'>
                      <div class='col-md-2 small'>
                      <ul class='list-group' style='list-style:none;'>
                        <li><a href="">Delhi</a></li>
                        <li><a href="">Ludhiana</a></li>
                        <li><a href="">Moga</a></li>
                        <li><a href="">Delhi</a></li>
                        <li><a href="">Ludhiana</a></li>
                      </ul>
                    </div>
                    <div class='col-md-2'></div>
                    <div class='col-md-2'></div>
                    <div class='col-md-2'></div>
                    <div class='col-md-2'></div>
                    <div class='col-md-2'></div>
                    </div>
                  </div>              
                </div>
              </div>