              
                <div class='panel-body'>
                  <div class='row padding-left-15 padding-right-15'>
                    <form class='form-horizontal' role='form'>
                              <div class='form-group form-group-sm'>  
                                <div class='col-sm-9'>
                                  <input type='text' class='form-control ' id='input-search-add' placeholder='Search Location'>
                                </div>
                                <label class='sr-only ' for='input-search-add'>Search location</label>
                              </div>                                  
                    </form>
                  </div>
                  <div class='row margin-top-10'>
                    <div class='col-md-12'>
                      <div class='row padding-left-null padding-right-null margin-left-15 margin-right-15'>
                        <div class='col-md-5 width-48 padding-left-null border-bottom-light-gray' >
                          <p class='font-color-black font-size-12'>
                            <strong>Popular Cities:</strong>
                          </p>
                        </div>
                        <div class='col-md-5 width-49 margin-left-15 padding-left-null' style='border-bottom:2px solid green;'>
                          <p class='font-color-black font-size-12'>
                            <strong>States:</strong>
                          </p>
                        </div>
                      </div>
                      <div class='row padding-left-null padding-right-null margin-left-15 margin-right-15'>
                        <div class='col-md-5 width-48 padding-left-null'>
                          <div class='col-md-4 small'>
                            <ul class='list-group margin-top-10'  style="list-style:none;">
                              <li ng-repeat='states in locations_list' class='margin-bottom-5 font-color-blue' ng-click='setLocation_func(states)'>{{states.state}}</li>
                            </ul>                            
                          </div>
                        </div>
                      </div>
                      <div class='col-md-2'></div>
                      <div class='col-md-2'></div>
                      <div class='col-md-2'></div>
                      <div class='col-md-2'></div>
                      <div class='col-md-2'></div>
                    </div>
                  </div>              
                </div>
              